* {
    box-sizing: border-box;
  }
  
  html body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2569a0;
    color: #acb5be;
    font-size: 10;
  }
  
  header {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 400px;
    text-align: center;
    
    margin-bottom: 1.5rem;
  }
  
  .navbar {
    width: 100%;
    background-color: #010038;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  
  .nav-item {
    font-size: 1.2rem;
    color: #FFFFFF;
  }
  
  .games-container {
    text-align: center;
    margin: auto;
    margin-top: 5em;
  }
  
  .refresh-button {
    text-align: center;
    margin: auto;
    margin-top: 10em;
    display: none;
  }
  .recommendation-container button:hover {
    background-color: #8f5612;
  }
  .refresh-button button:hover {
    background-color: #F39422;
  }
  
  img .card-img-top {
    width: 100px;
    height: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 3em 3em 0em 0em;
  }
  
  footer > p {
    margin-top: 2em;
    text-align: center;
  }
  
  .card {
    width: 18rem;
    margin: auto;
    margin-top: 1em;
  }
  .card-body {
    display: none;
    margin: auto;
  }
  
  .card:hover .card-body {
    display: block;
  }
  
  .game-recommendations h3 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: white;
    text-align: center;
    margin-top: 1em;
  }
  .game-recommendations h4 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: lightslategray;
    text-align: center;
    margin-top: 1em;
  }
  
  .log-container {
    height: 100%;
    margin: auto;
  }
  .empty-log-container {
    width: 50%;
    height: 1000px;
    margin: auto;
  }
  .root {
    height: 100%;
  }
  
  .recommendation-container {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #f1f6f9;
    text-align: center;
  }
  
  .recommendation-container h2 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #000000;
    padding-top: 0.8em;
  }
  
  .recommendation-container h3 {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .recommendation-container hr {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
    height: 1px;
  }  
  
  .recommendation-container .form-inline {
    margin-left: 1em;
  }
  
  #game1, #game2, #game3 {
    width: 95%;
    height: 3em;
  }
  
  label {
    margin: 0em 1em 0em 0.5em;
  }
  
  .details {
    border: 1.4px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #f1f6f9;
  }
  
  .recommendation-container .btn-yellow {
    margin: 1em 1em 1em 0em;
    font-size: 18px;
    background-color: #F39422;
    color: #000000;
    width: 7.75em;
    height: 3em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
  
  .buttons {
    margin: auto;
  }
  
  .log-entry {
    margin: 3em 0em 3em 1.5em;
  }
  
  .log-item {
    background-color:#F39422;
    height: 10em;
    border-radius: 10px;
  }
  
  .log-body {
    background-color: #f1f6f9;
    border-radius: 10px;
    display: none;
    width: 48.5%;
  }
  
  .log-body p {
    color: #000000;
    padding: 0.5em 0em 0em 1em;
  }
  
  .log-entry:hover .log-body {
    display: block;
  }
  
  .log-body .btn-yellow {
    background-color: orange;
    border-radius: 10px;
  }
  
  .log-container .log-item img {
    height: 100%;
    width: 35%;
    margin: 0;
    border-radius: 10px 0px 0px 10px;
  }
  
  .log-container .log-item h1 {
    color: black;
    display: inline-block;
    margin-left: 1em;
    font-size: 80%;
  }
  
  .log-container .log-item {
    height: 6em;
  }
  
  .log-container h2 {
    font-size: 86%;
  }
  
  .validity-field {
    color: red;
    position: absolute;
    padding-left: 5em;
    padding-top: 1em;
    text-align: center;
  }
  
  .carousel-image-main {
    width: 70%;
    height: 100%;
    border: 0;
    margin: auto;
    display: block;
  }
  
  .carousel-image-size {
    width: 100%;
    height: 100%;
    vertical-align: top;
    border: 0;
  }
  
  .other-page-header {
    text-align: center;
    margin: 3.5% 0% 1.5% 0%;
    color: white;
  }
  
  .carousel-button {
    margin: auto;
    margin-top: 1.5em;
    font-size: 18px;
    background-color: #ffff;
    color: #000000;
    width: 7.75em;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  @media (min-width: 576px) {
    h2 {
      margin: auto;
    }
  
    body .row {
      width: 576px;
    }
    
    body .log-container {
      width: 576px;
    }
    
    .recommendation-container {
      width: 32em;
      height: 32em;
      margin-left: 2.1em;
    }
  
    .recommendation-container h2 {
      font-size: 32px;
      padding-top: 0.8em;
    }
  
    .recommendation-container h3 {
      font-size: 26px;
    }
  
    .recommendation-container form .col-sm-12 {
      margin: 0.5em 0em 1em 0em;
    }
  
    .recommendation-container .form-inline {
      margin-left: 1em;
    }
  
    #game1, #game2, #game3 {
      width: 28em;
    }
  
    .recommendation-container .btn-yellow {
      margin: 1em 1em 0em 0em;
      font-size: 18px;
      width: 9.75em;
      border-radius: 10px;
    }
  
    .log-container .log-item {
      height: 10em;
      width: 95.5%;
    }
  
    .log-container .log-item h1 {
      font-size: 16px;
    }
  
    .log-body {
      width: 95.5%;
    }
  
    .log-container h2 {
      font-size: 2em;
    }
  }
  
  @media (min-width: 768px) {
  
    .validity-field {
      padding-top: 0em;
    }
    body .row {
      width: 768px;
    }
  
    body .log-container {
      width: 768px;
    }
  
    body {
      background: rgb(79,131,227);
      background: linear-gradient(0deg, rgba(79,131,227,1) 0%, rgba(0,12,51,1) 83%);
    }
  
    .recommendation-container {
      width: 43em;
      margin-left: 2.5em;
    }
  
    .recommendation-container .form-inline {
      margin-left: 2em;
    }
  
    .refresh-button {
      display: block;
    }
    
    .log-container .log-item {
      width: 96.5%;
    }
  
    .log-body {
      width: 96.5%;
    }
  
    .log-container .log-item h1 {
      font-size: 20px;
    }
  }
  
  @media (min-width: 992px) {
  
    body .row {
      width: 992px;
    }
  
    body .log-container {
      width: 992px;
    }
  
  
    #game1, #game2, #game3 {
      width: 35em;
    }
  
    .recommendation-container {
      width: 56em;
      margin-left: 3em;
    }
  
    .recommendation-container .btn-yellow {
      margin: 2em 1em 0em 0.5em;
    }
  
    .recommendation-container .form-inline {
      margin-left: 5em;
    }
  
    .log-container .log-item {
      width: 97.5%;
    }
  
    .log-body {
      width: 97.5%;
    }
  
    .log-container .log-item h1 {
      font-size: 24px;
    }
  
    .log-container .log-item img {
      width: 30%;
    }
  }
  
  @media (min-width: 1200px) {
    .validity-field {
      padding-top: 0.5em;
    }
    body .row {
      width: 100%;
    }
  
    body .log-container {
      width: 100%;
    }
  
    .recommendation-container {
      width: 82em;
      height: 22.25em;
      margin: auto;
    }
    
    .recommendation-container .btn-yellow {
      margin: 2em 2em 0em 0.5em;
    }
  
    #game1, #game2, #game3 {
      width: 23.5em;
    }
  
    .recommendation-container .form-inline {
      margin-left: 1em;
    }
  
    .log-container .log-item {
      width: 98.5%;
    }
  
    .log-body {
      width: 98.5%;
    }
  
    .log-container .log-item h1 {
      font-size: 32px;
    }
  
    .log-container .log-item img {
      width: 20%;
    }
  }